  <div id="auth-forms">
  <% if @form_type == 'signup' %>
    <h2>Sign Up</h2>
    <% user = @user || User.new %>
    <%= render ErrorComponent.new(object: user) %>

    <%= form_with model: user, url: user_registration_path, local: true, data: { turbo: false } do |f| %>
      <div>
        <%= f.label :username, "Username" %>
        <%= f.text_field :username, placeholder: "Username", autofocus: true %>
      </div>

      <div>
        <%= f.label :email, "Email" %>
        <%= f.email_field :email, placeholder: "Email" %>
      </div>

      <div>
        <%= f.label :password, "Password" %>
        <%= f.password_field :password, placeholder: "Password" %>
      </div>

      <div>
        <%= f.label :password_confirmation, "Confirm Password" %>
        <%= f.password_field :password_confirmation, placeholder: "Confirm Password" %>
      </div>

      <%= f.submit "Sign Up" %>
    <% end %>

    <p>Existing user? <%= link_to "Login here", root_path(form: 'login') %></p>

  <% else %>

    <h2>Login</h2>
    <% login_user = @login_user || User.new %>
    <%= render ErrorComponent.new(object: login_user) %>
    <%= form_with model: User.new, url: user_session_path, local: true, data: { turbo: false } do |f| %>
      <div>
        <%= f.label :email, "Email" %>
        <%= f.email_field :email, placeholder: "Email", autofocus: true, value: login_user.email %>
      </div>

      <div>
        <%= f.label :password, "Password" %>
        <%= f.password_field :password, placeholder: "Password" %>
      </div>

      <div>
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me, "Remember me" %>
      </div>
      
      <%= f.submit "Login" %>
    <% end %>

    <p>New user? <%= link_to "Sign up here", root_path(form: 'signup') %></p>
  <% end %>
</div>
