<h1><%= @user.username %></h1>

<h3>Email: <%= @user.email %></h3>

<% if @user.strategies.any? %>
  <h2>Strategies:</h2>
  <ul>
    <% @user.strategies.each do |strategy| %>
      <h4><%= link_to strategy.name, strategy_path(strategy) %> Risk: <%= strategy.risk_level %></h4>
    <% end %>
  </ul>
<% else %>
  <h4>No created strategies</h4>
<% end %>

<%= link_to "Back to Users", users_path %>
