<h2>Sign Up</h2>
<% user = @user || User.new %>
<% if user.errors.any? %>
  <div class="errors">
    <h3><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h3>
    <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_with model: user, url: user_registration_path, local: true, data: { turbo: false } do |f| %>
  <div>
    <%= f.label :username, "Username" %>
    <%= f.text_field :username, placeholder: "Username", autofocus: true %>
  </div>

  <div>
    <%= f.label :email, "Email" %>
    <%= f.email_field :email, placeholder: "Email" %>
  </div>

  <div>
    <%= f.label :password, "Password" %>
    <%= f.password_field :password, placeholder: "Password" %>
  </div>

  <div>
    <%= f.label :password_confirmation, "Confirm Password" %>
    <%= f.password_field :password_confirmation, placeholder: "Confirm Password" %>
  </div>

  <%= f.submit "Sign Up" %>
<% end %>
