<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

<% if user_signed_in? %>
  <h2>Welcome <%= current_user.username %>!</h2>
<% else %>
  <div id="auth-forms">
    <% if @form_type == 'signup' %>
      <%= render 'home/signup' %>
    <% else %>
      <%= render 'home/login' %>
    <% end %>
  </div>
<% end %>
