<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

<% if user_signed_in? %>
  <div id="welcome">
    <h2>Welcome <%= current_user.username %>!</h2>
  </div>

  <div id="about">
    <p>This is a place for creating and sharing stonk strategies.</p>
    <p>You can create your own strategies</p>
    <p>You can view all strategies</p>
    <p>You can view other people's strategies</p>
    <p>You can view other people's profiles</p>
    <p>Use the NavBar to navigate the site</p>
  </div>

  <div id='current-user-show'>
    <%= link_to "View Your Strategies", user_path(current_user), class: "btn" %>
  </div>

  <div class="search-container">
    <input type="text" placeholder="Search for news..." class="search-input">
    <button type="button" class="search-button">Search</button>
  </div>

<% else %>
  <%= render LoginSignupComponent.new(form_type: @form_type, user: @user, login_user: @login_user) %>
<% end %>
