<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

<% if user_signed_in? %>
  <h2>Welcome <%= current_user.username %>!</h2>
  
  <%= link_to "View Strategies", strategies_path %> | 
  <%= link_to "Logout", destroy_user_session_path, data: { turbo_method: :delete } %>
<% else %>
  <div id="auth-forms">
    <div class="toggle-buttons">
      <%= link_to "Sign up", root_path(form: 'signup'), class: "toggle-button #{@form_type == 'signup' ? 'active' : 'inactive'}" %>
      <%= link_to "Login", root_path(form: 'login'), class: "toggle-button #{@form_type == 'login' ? 'active' : 'inactive'}" %>
    </div>

    <% if @form_type == 'signup' %>
      <%= render 'home/signup' %>
    <% else %>
      <%= render 'home/login' %>
    <% end %>
  </div>
<% end %>
