<h1>Strategies</h1>

<%= form_tag strategies_path, method: :get do %>
  <%= label_tag :risk, "Risk level Filter" %>
  <%= select_tag :risk, options_for_select([["All", ""], ["Low", "Low"], ["Medium", "Medium"], ["High", "High"]], params[:risk]) %>
  <%= submit_tag "Filter" %>
<% end %>


<% @strategies.each do |strategy| %>
  <div>
    <h3><%= link_to strategy.name, strategy %></h3>
    <p>Risk: <%= strategy.risk_level %></p>
    <p>Description: <%= strategy.description %></p>
  </div>
<% end %>
