<!DOCTYPE html>
<html>
  <head>
    <title>Stonk Strategies</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= favicon_link_tag "logo.png" %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= render 'shared/candlestick_bg' %>
    
    <% if user_signed_in? %>
      <nav>
        <%= link_to root_path do %>
          <%= image_tag "logo.png", class: "logo" %>
        <% end %>
        <div class="nav-center">
          <%= link_to "View Strategies", strategies_path, class: "btn" %>
          <%= link_to "View Users", users_path, class: "btn" %>
          <%= link_to "Create Strategies", new_user_strategy_path(current_user), class: "btn" %>
        </div>
        <div class="nav-right">
          <%= link_to current_user.username, user_path(current_user), class: "btn" %>
          <%= link_to "Logout", destroy_user_session_path, data: { turbo_method: :delete }, class: "btn" %>
        </div>
      </nav>
    <% else %>
      <nav>
        <%= link_to root_path do %>
          <%= image_tag "logo.png", class: "logo" %>
        <% end %>
        <div class="nav-center">
          <%= link_to "View Strategies", strategies_path, class: "btn" %>
          <%= link_to "View Users", users_path, class: "btn" %>
        </div>
        <div class="nav-right">
          <%= link_to "Login", root_path(form: 'login'), class: "btn" %>
          <%= link_to "Sign Up", root_path(form: 'signup'), class: "btn" %>
        </div>
      </nav>
    <% end %>

    <main id="main-content">
      <%= yield %>
    </main>

    <footer>
      <p>&copy; 2025 NKP Industries. All rights reserved.</p>
    </footer>
  </body>
</html>
